.container {
    min-height: 65vh;
    height: 100%;

    padding: 0 1rem;
    text-align: center;

    .aid {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .content {
        width: 100%;
        display: flex;
        justify-content: center;

        gap: 4rem;

        .inform {
            display: flex;
            flex-direction: column;

            padding: 1rem 0;
            gap: 0.5rem;
        }

        .form {
            width: 50%;
            max-width: 500px;

            input {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                height: 40px;
                width: 100%;

                margin-top: 1rem;
                padding: 1rem;
            }

            .main {
                display: flex;

                gap: 1rem;
            }

            .msg {
                height: 100px;
                width: 100%;

                margin: 1rem 0;
                padding: 1rem;

                resize: none;
            }

            .btn {
                height: 40px;
                width: 100%;

                background-color: #1f4e78;
                border: none;
                color: #fff;

                font-size: 0.9rem;
                font-weight: bold;
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        .content {
            display: flex;
            align-items: center;
            flex-direction: column;

            .form {
                padding: 0 3rem;
                width: 100%;
            }
        }
    }
}
