:root {
  --height-navbar: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

/* BLOCK */
.block{
  display: none;
}